* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	font-family: Georgia, serif;
	background-image: linear-gradient(#68c6cf, #f4b76c);
}

.calculator {
	margin: 1rem;
	position: relative;
	display: grid;
	cursor: pointer;
	border: 12px solid #303730;
	border-radius: 4px;
}

.calculator .value {
	grid-column: span 4;
	text-align: right;
	border: none;
	outline: none;
	padding: 20px;
	font-size: 2rem;
}

.calculator span {
	display: grid;
	width: 100%;
	height: 10vh;
	color: #000;
	place-items: center;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 35px 68px 0 rgba(5,5,5,0.42), inset 0 -8px 16px 0 darkgray;
}

.calculator span:active {
	color: #fff;
	background: #818181;
	box-shadow: 0 35px 68px 0 #818181, inset 0 -8px 16px 0 #fff;
}

.calculator span.clear {
	grid-column: span 2;
	width: 100%;
	background: #ffaa42;
	box-shadow: 0 35px 68px 0 rgba(5,5,5,0.42), inset 0 -8px 16px 0 darkgray;
}

.calculator span.clear:active {
	color: #fff;
	background: #ff5454;
	box-shadow: 0 35px 68px 0 #ff5454, inset 0 -8px 16px 0 #fff;
}

.calculator span.sign {
	background: #15ffc8;
	box-shadow: 0 35px 68px 0 rgba(5,5,5,0.42), inset 0 -8px 16px 0 darkgray;
}

.calculator span.sign:active {
	color: #fff;
	background: #15ffc86f;
	box-shadow: 0 35px 68px 0 #15ffc86f, inset 0 -8px 16px 0 darkgray;
}

.calculator span.equal {
	grid-row: span 2;
	height: auto;
	background: #70eaff;
	box-shadow: 0 35px 68px 0 rgba(5,5,5,0.42), inset 0 -8px 16px 0 darkgray;;
}

.calculator span.equal:active {
	color: #fff;
	background: #2182f9;
	box-shadow: 0 35px 68px 0 #2182f9, inset 0 -8px 16px 0 darkgray;
}


.contact {
    float: right;
	position: absolute;
	left: 6.5%;
	top: 3%;
	z-index: 1;
    display: flex;
	background-color: #303730;
	width: 87%;
}

#link {
	font-size: 2vw;
	margin: 0 0 0 0.1px; 
}

/* for Twitter, GitHub icon */
.fa {
	font-size: 2vw;
	text-decoration: none;
	margin: 0 0 0 20px;
}

.fa:hover {
    opacity: 0.7;
	text-decoration: none;
}

.fa-twitter {
	color: #55ACEE;
}

.fa-github {
	color: #fff;
}

span {
	color: #fff;
}
