* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	font-family: Georgia, serif;
	background-color: #68c6cf;
}

.container {
	width:30vw;
	perspective: 1000px;
	position: relative;
	margin-top: 5vw;
}

.calculator {
	margin: 1rem;
	position: relative;
	display: grid;
	cursor: pointer;
	border: 12px solid #272c27;
	border-radius: 6px;
	box-shadow: 1px 1px #303730, 2px 2px #303730, 3px 3px #303730, 4px 4px #303730, 5px 5px #303730, 6px 6px #303730, 7px 7px #303730, 8px 8px #303730, 9px 9px #303730, 10px 10px #303730, 11px 11px #303730, 12px 12px #303730;
	margin: 20px;
	transform: rotateX(5deg);
}

textarea {
	resize: none;
}

.calculator .value {
	grid-column: span 4;
	text-align: right;
	border: none;
	outline: none;
	padding: 30px;
	font-size: 2rem;
}

.calculator span {
	display: grid;
	width: 100%;
	height: 8vh;
	color: #000;
	place-items: center;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 35px 68px 0 rgba(5,5,5,0.42), inset 0 -8px 16px 0 darkgray;
}

.calculator span:active {
	color: #fff;
	background: #818181;
	box-shadow: 0 35px 68px 0 #818181, inset 0 -8px 16px 0 #fff;
}

.calculator span.clear {
	grid-column: span 2;
	width: 100%;
	background: #ffaa42;
	box-shadow: 0 35px 68px 0 rgba(5,5,5,0.42), inset 0 -8px 16px 0 darkgray;
}

.calculator span.clear:active {
	color: #fff;
	background: #ffb742da;
	box-shadow: 0 35px 68px 0 #ffb742da, inset 0 -8px 16px 0 #fff;
}

.calculator span.sign {
	background: #15ffc8;
	box-shadow: 0 35px 68px 0 rgba(5,5,5,0.42), inset 0 -8px 16px 0 darkgray;
}

.calculator span.sign:active {
	color: #fff;
	background: #15ffc86f;
	box-shadow: 0 35px 68px 0 #15ffc86f, inset 0 -8px 16px 0 darkgray;
}

.calculator span.equal {
	grid-row: span 2;
	height: auto;
	background: #70eaff;
	box-shadow: 0 35px 68px 0 rgba(5,5,5,0.42), inset 0 -8px 16px 0 darkgray;;
}

.calculator span.equal:active {
	color: #fff;
	background: #70d9ff96;
	box-shadow: 0 35px 68px 0 #70d9ff96, inset 0 -8px 16px 0 darkgray;
}



.contact {
	position: absolute;
	background-color: #272c27;
	width: 100%;
}

#link {
	font-size: 1.5vw;
	margin: 0 0 0 0.1px; 
}

/* for Twitter, GitHub icon */
.fa {
	font-size: 1.5vw;
	text-decoration: none;
	margin: 0 0 0 20px;
}

.fa:hover {
    opacity: 0.7;
	text-decoration: none;
}

.fa-twitter {
	color: #55ACEE;
}

.fa-github {
	color: #fff;
}

p {
	color: aliceblue;
	display: inline-block;
}


@media only screen and (max-width: 900px) {
	#link {
		font-size: 5vw;
	}
	
	/* for Twitter, GitHub icon */
	.fa {
		font-size: 5vw;
		text-decoration: none;
	}

	.container {
		width: auto;
		margin-top: 10vw;
	}
}
